# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Pasta de dados original (substituída pelo zip)
Base de dados - Passos Mágicos/

.claude